.navbar{
    background-color: #D35400;
}

.quemsomos{
    background-color: #BA4A00;
    color: black;

}
.margin{
    padding-bottom: 10px;
    padding-top: 10px;
}

.parceiros{
    background-color:#873600;
    color: black;
}